In [ ]:
#https://towardsdatascience.com/introduction-to-naive-bayes-classification-4cffabb1ae54
#http://scikit-learn.org/stable/modules/naive_bayes.html

#example:
#https://www.analyticsvidhya.com/blog/2017/09/naive-bayes-explained/

In [2]:
import numpy as np
import pandas as pd
from sklearn import metrics
from sklearn import datasets

In [3]:
iris_aux = datasets.load_iris()
iris = pd.DataFrame(iris_aux.data, columns=iris_aux.feature_names)
iris['target'] = pd.Series(iris_aux.target)
iris['species'] = pd.Categorical.from_codes(iris_aux.target, iris_aux.target_names)
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,species
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

### Gaussian Naive Bayes

In [25]:
X = iris.iloc[:,:4]
y = iris['target']
y = np.ravel(y)

In [26]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [27]:
from sklearn.model_selection import StratifiedKFold, KFold, LeaveOneOut
cv_kfold = KFold(n_splits=3, shuffle=False, random_state=None)
cv_loo = LeaveOneOut()

In [32]:
from sklearn.model_selection import GridSearchCV
clf = GaussianNB(priors=None)

parameters = {
    'priors' : [None]
}

#scoring pode ser: accuracy, roc_auc, recall, precision... 
### regressao logisitca nao tem parametros para ficar testando
model_gnb = GridSearchCV(estimator = clf, param_grid = parameters, fit_params=None, n_jobs=1, iid=True, refit=True, 
                     cv=cv_kfold, verbose=0, pre_dispatch='2*n_jobs', error_score='raise', return_train_score= True)
model_gnb

GridSearchCV(cv=KFold(n_splits=3, random_state=None, shuffle=False),
       error_score='raise', estimator=GaussianNB(priors=None),
       fit_params=None, iid=True, n_jobs=1, param_grid={'priors': [None]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=0)

In [33]:
fitted_gnb = model_gnb.fit(X_train, y_train)

In [35]:
fitted_gnb.best_score_

0.9553571428571429

In [36]:
predict_gnp = fitted_gnb.predict(X_test)

In [37]:
pd.DataFrame(metrics.confusion_matrix(y_test, predict_gnp))

    0   1  2
0  13   0  0
1   0  16  0
2   0   0  9

In [38]:
print(metrics.classification_report(y_test, predict_gnp))

             precision    recall  f1-score   support

          0       1.00      1.00      1.00        13
          1       1.00      1.00      1.00        16
          2       1.00      1.00      1.00         9

avg / total       1.00      1.00      1.00        38